<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="CP437_8x8" class="asciiPanel.Fonts.CP437_8x8"></bean>
    <bean id="CP437_9x16" class="asciiPanel.Fonts.CP437_9x16"></bean>
    <bean id="CP437_10x10" class="asciiPanel.Fonts.CP437_10x10"></bean>
    <bean id="CP437_12x12" class="asciiPanel.Fonts.CP437_12x12"></bean>
    <bean id="CP437_16x16" class="asciiPanel.Fonts.CP437_16x16"></bean>
    <bean id="DRAKE_10x10" class="asciiPanel.Fonts.DRAKE_10x10"></bean>
    <bean id="QBICFEET_10x10" class="asciiPanel.Fonts.QBICFEET_10x10"></bean>
    <bean id="TAFFER_10x10" class="asciiPanel.Fonts.TAFFER_10x10"></bean>
    <bean id="TALRYTH_15x15" class="asciiPanel.Fonts.TALRYTH_15x15"></bean>

    <bean id="asciiPanel" class="asciiPanel.AsciiPanel">
        <constructor-arg value="80"></constructor-arg>
        <constructor-arg value="24"></constructor-arg>
        <constructor-arg ref="CP437_9x16"></constructor-arg>
    </bean>

</beans>